= form_for @story do |f|
  = f.label :title, 'Título:'
  = f.text_field :title
  = f.label :content, 'Texto:'
  = f.text_area :content, :cols => '60'
  = f.submit 'Atualizar'
  - @categories.each do |category|
    = label_tag "category_#{category.id}", category.name
    = check_box_tag "category_#{category.id}", category.id, @story.categories.include?(category), :name => 'category_ids[]'
